@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* ---------- GLOBALS ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

/* ---------- HELPERS ---------- */
.p-1 {
  padding: 1rem;
}

.text-secondary {
  color: #c4c4c4;
}

.font-sm {
  font-size: small;
}

.font-md {
  font-size: medium;
}

.btn {
  border: none;
  background: none;
  color: #3ebff3;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/* ---------- CARDS ---------- */
.container {
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  align-items: flex-start;
}

.card {
  background-color: #fff;
  margin: 1rem 1.5rem;
  color: #747474;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-description {
  margin-top: 1rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.card-footer .btn:not(:first-child) {
  margin-left: 1rem;
}

.arrow-down {
  width: 1rem;
}

.action-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.action-logo {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.5rem;
}

.profile-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.profile-title {
  margin-left: 1rem;
}

/* ---------- MODAL ---------- */
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  max-width: 36rem;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  width: 1rem;
  height: 1rem;
}
