@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap");

/* ---------- GLOBALS ---------- */
:root {
  --primary-color: #0097ec;
  --secondary-color: #c6c6c6;
  --dark-gray: #3c4154;
  --body-bg-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-bg-color);
  color: var(--dark-gray);
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

/* ---------- HELPERS ---------- */
.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-secondary {
  color: var(--secondary-color);
}

.font-lead {
  font-size: 1.5rem;
}

.font-lg {
  font-size: 2.5rem;
}

.font-xl {
  font-size: 3.5rem;
}

.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
}

.btn {
  padding: 0.75rem 2.25rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.card {
  background-color: #fff;
  width: 100%;
  margin: 1rem;
}

.card-header {
  background-color: var(--dark-gray);
  padding: 1rem 2rem;
}

.card-body {
  padding: 2.5rem;
}

.shadow {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.6);
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---------- PRICING ---------- */
.pricing-title {
  margin: 7.5rem 0 2rem;
}

.pricing-subtitle {
  max-width: 40rem;
  margin: 0 auto;
}

.pricing-table {
  display: flex;
  align-items: flex-start;
  margin-top: 7rem;
}

.pricing::after {
  content: "";
  background: linear-gradient(to right, #142949, #2b2860);
  height: 40rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.pricing-price {
  font-size: 5rem;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
}

.pricing-currency {
  font-size: 2rem;
  vertical-align: top;
}

.pricing-period {
  font-size: 1.5rem;
}

.pricing-btn {
  margin: 2.5rem auto 0;
  display: block;
}

.pricing .card {
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.pricing .card-header {
  transition: all 200ms ease-in-out;
}

.pricing .card:hover {
  transform: scale(1.025);
}

.pricing .card.active {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}
.pricing .card.active .card-header {
  background-color: #0097ec;
}

/* ---------- FAQ ---------- */
.faq {
  padding: 10rem 4.5rem;
}

.faq-body {
  display: flex;
  margin-top: 3rem;
}

.faq-item {
  margin: 1rem;
}

.faq-item-title {
  margin-bottom: 0.5rem;
}
